In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
csv_file = "breweries.csv"
breweries_data_df = pd.read_csv(csv_file)
breweries_data_df.head(2)

,id,name,brewery_type,street,city,state,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,siluria-brewing-company,Siluria Brewing Company,planning,NaN,Alabaster,Alabama,35007-8501,http://www.siluriabrewing.com,2.054828e+09,32:47.7,20:27.0,United States,-86.816377,33.244281,NaN
1,cheaha-brewing-co,Cheaha Brewing Co,brewpub,1208 Walnut Ave,Anniston,Alabama,36201-4526,http://www.cheahabrewingcompany.com,2.567707e+09,32:47.4,20:08.8,United States,-85.833774,33.660167,NaN

# filter columns

In [24]:
conn = "postgres:postgres@localhost:5432/breweries_db"
engine = create_engine(f'postgresql://{conn}')

In [25]:
engine.table_names()

[]

In [9]:
breweries_data_df.to_sql(name='breweries',con=engine,if_exists='append',index=False)